# Practice Exercises

In [1]:
# import the pandas, seaborn libaries
import pandas as pd
import seaborn as sns

### Getting Data

In [2]:
# get the data from 'waterData.csv', store it in a varible called df
# Hint: You can use Google, something like "reading csv files in pandas" 
df = pd.read_csv('waterData.csv')

In [3]:
# show the first few rows of the datafame
df.head()

,Unnamed: 0,timestamp,Temp,00010_surface_cd,site_no,Cond,00095_surface_cd,DOpct,00300_surface_cd,pH,00400_surface_cd,Turb,63680_surface_cd,Sal,90860_surface
0,0,2024-01-01 05:00:00+00:00,3.6,P,1372043,195.0,P,13.1,P,8.1,P,27.6,P,0.1,P
1,1,2024-01-01 05:15:00+00:00,3.6,P,1372043,192.0,P,13.1,P,8.1,P,26.2,P,0.1,P
2,2,2024-01-01 05:30:00+00:00,3.6,P,1372043,192.0,P,13.1,P,8.1,P,30.4,P,0.1,P
3,3,2024-01-01 05:45:00+00:00,3.6,P,1372043,194.0,P,13.1,P,8.1,P,29.6,P,0.1,P
4,4,2024-01-01 06:00:00+00:00,3.6,P,1372043,193.0,P,13.1,P,8.1,P,30.8,P,0.1,P

**What are some of the columns you see? What are the index?**

Temp

### Cleaning Data

In [4]:
# get the number of distinct data in each col 
df.nunique()

Unnamed: 0          9912
timestamp           9912
Temp                  77
00010_surface_cd       2
site_no                1
Cond                 117
00095_surface_cd       2
DOpct                 28
00300_surface_cd       2
pH                     6
00400_surface_cd       2
Turb                 704
63680_surface_cd       2
Sal                    2
90860_surface          2
dtype: int64

In [ ]:
# remove any rows the have NA
# your code here

In [5]:
# use df.query() to keep rows that have 'P' in the `00010_surface_cd` column 
df.query("`00010_surface_cd` == 'P'")

,Unnamed: 0,timestamp,Temp,00010_surface_cd,site_no,Cond,00095_surface_cd,DOpct,00300_surface_cd,pH,00400_surface_cd,Turb,63680_surface_cd,Sal,90860_surface
0,0,2024-01-01 05:00:00+00:00,3.6,P,1372043,195.0,P,13.1,P,8.1,P,27.6,P,0.1,P
1,1,2024-01-01 05:15:00+00:00,3.6,P,1372043,192.0,P,13.1,P,8.1,P,26.2,P,0.1,P
2,2,2024-01-01 05:30:00+00:00,3.6,P,1372043,192.0,P,13.1,P,8.1,P,30.4,P,0.1,P
3,3,2024-01-01 05:45:00+00:00,3.6,P,1372043,194.0,P,13.1,P,8.1,P,29.6,P,0.1,P
4,4,2024-01-01 06:00:00+00:00,3.6,P,1372043,193.0,P,13.1,P,8.1,P,30.8,P,0.1,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9627,9627,2024-04-10 11:45:00+00:00,7.2,P,1372043,212.0,P,11.7,P,8.1,P,22.7,P,0.1,P
9628,9628,2024-04-10 12:00:00+00:00,7.3,P,1372043,213.0,P,11.7,P,8.0,P,18.6,P,0.1,P
9629,9629,2024-04-10 12:15:00+00:00,7.3,P,1372043,213.0,P,11.7,P,8.1,P,16.8,P,0.1,P
9630,9630,2024-04-10 12:30:00+00:00,7.3,P,1372043,213.0,P,11.7,P,8.1,P,14.7,P,0.1,P
9631,9631,2024-04-10 12:45:00+00:00,7.4,P,1372043,216.0,P,11.7,P,8.0,P,15.8,P,0.1,P

In [8]:
# drop the following columns of data ['Unnamed: 0','00010_surface_cd', '00095_surface_cd', '00300_surface_cd','00400_surface_cd', '63680_surface_cd','90860_surface'] 
columns_to_drop = ['Unnamed: 0', '00010_surface_cd', '00095_surface_cd', '00300_surface_cd', '00400_surface_cd', '63680_surface_cd', '90860_surface']
# df = df.drop(columns=columns_to_drop)
df.head()

                   timestamp  Temp  site_no   Cond  DOpct   pH  Turb  Sal
0  2024-01-01 05:00:00+00:00   3.6  1372043  195.0   13.1  8.1  27.6  0.1
1  2024-01-01 05:15:00+00:00   3.6  1372043  192.0   13.1  8.1  26.2  0.1
2  2024-01-01 05:30:00+00:00   3.6  1372043  192.0   13.1  8.1  30.4  0.1
3  2024-01-01 05:45:00+00:00   3.6  1372043  194.0   13.1  8.1  29.6  0.1
4  2024-01-01 06:00:00+00:00   3.6  1372043  193.0   13.1  8.1  30.8  0.1

In [ ]:
# rename the 'Temp' col to 'Temperature'
# your code here

In [ ]:
# rename the 'Cond' col to 'Conductivity'
# your code here

In [ ]:
# rename the 'DOpct' col to 'DO'
# your code here

In [ ]:
# rename the 'Turb' col to 'Turbidity'
# your code here

In [ ]:
# rename the 'Sal' col to 'Salinity'
# your code here

In [ ]:
# show the first few rows of the datafame again
# your code here

### What's the *third step* in data analysis - Replace What's in this Cell with it

In [ ]:
# set the timestamp column so it's the index now
# your code here

In [ ]:
# show the first few rows of the datafame again
# your code here

In [ ]:
# convert temp from celsius to fahrenheit
def celsius_to_fahrenheit(row):
    return (row* 9/5) + 32

# your code here

In [ ]:
# show the first few rows of the datafame again again

# by the way, what's the shortcut to run cells instead of having to press Play

### What's the *forth step* in data analysis - Replace What's in this Cell with it

In [ ]:
# find the mean (average) of the temperature
# your code here

In [ ]:
# find median temperature
# your code here

In [ ]:
# find min temperature
# your code here

In [ ]:
# find the max of the temperature
# your code here

In [ ]:
# find the pct_change
df.pct_change()

### What's the *fith step* in data analysis - Replace What's in this Cell with it

In [ ]:
df = df[8500:] # we keep this here so we don't plot ALL of the data
import matplotlib.pyplot as plt

In [ ]:
# Create line plot of 'Temperature', try to do it for the other parameters!
sns.lineplot(data=df['Temperature'])

# Add labels and title
plt.ylabel('Temperature')
plt.title('Temperature Line Plot')

# Show plot
plt.show()

In [ ]:
# your code here

### Other stuff as time allows

In [ ]:
"""
from pandas import DataFrame
import dataretrieval.nwis as nwis

def usgs_data_fetch(location: str | None = None, 
                    start_year: int | None = None,
                    start_month: int |  None = None,
                    start_day: int |  None = None,
                    end_year: int | None = None,
                    end_month: int | None = None,
                    end_day: int | None = None) -> DataFrame:

    if any(param is None for param in [location, start_year, start_month, start_day, end_year, end_month, end_day]):
        raise ValueError("All parameters must be provided")

    sites_dict = {'West Point' : '01374019', 'Yonkers' : '01376307', 'Poughkeepsie' : '01372043'}
    site = sites_dict.get(location)

    df = nwis.get_record(sites=site, service='iv', start=f'{start_year}-{start_month}-{start_day}', end=f'{end_year}-{end_month}-{end_day}')
    
    columns_to_keep = [col for col in df.columns if not col.endswith('_cd')]
    df = df.reset_index()
    location_mapping = {
        '01374019' : {
            '00010_hrecos': 'Temp',
            '00095_hrecos': 'Cond',
            '00300_hrecos': 'DOpct',
            '90860_hrecos': 'Sal',
            '00400_hrecos': 'pH',
            '63680_surface': 'Turb',
            'datetime' : 'timestamp'
        },
        '01372043' : {
            '00010_surface' : 'Temp',
            '00095_surface' : 'Cond',
            '00300_surface': 'DOpct',
            '90860_surface, [hrecos (near surface': 'Sal',
            '00400_surface': 'pH',
            '63680_hrecos exo': 'Turb',
            'datetime' : 'timestamp'
        },
        '01376307' : {
            '00010_hrecos': 'Temp',
            '00095_hrecos': 'Cond',
            '00300_hrecos': 'DOpct',
            '90860_hrecos': 'Sal',
            '00400_hrecos': 'pH',
            '63680_surface': 'Turb',
            'datetime' : 'timestamp'
        }, 
    }
    
    # Rename columns using the dictionary
    df_renamed = df.rename(columns=location_mapping.get(site))

    return df_renamed

df = usgs_data_fetch('Poughkeepsie',2024,1,1,2024,4,13)
"""